/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
}
nav {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #005C9E;
}
nav .container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .nav-logo h2 {
  color: white;
  font-weight: bold;
}
nav .nav-links {
  width: 60%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 0px;
  font-size: 1.6rem;
}
nav .nav-links a {
  text-decoration: none;
}
nav .nav-links a:visited {
  color: white;
}
nav .nav-links a:hover {
  color: #C0E3F4;
  text-decoration: underline;
}
.home .header .header-logo img {
  width: 100%;
}
.home .welcome-container {
  display: flex;
  justify-content: center;
  border: 1px solid red;
}
.home .welcome-container .content {
  width: 90%;
  margin: 20px 0;
}
.home .welcome-container .content div {
  text-align: center;
}
.home .welcome-container .content .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.home .welcome-container .content .buttons .btn {
  color: white;
  background-color: #0085D4;
  width: 300px;
  height: 30px;
  border: 1px solid #0085D4;
  border-radius: 5px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.home .welcome-container .content .buttons .btn:hover {
  color: #0085D4;
  background-color: white;
}
@media (max-width: 500px) {
  .home .welcome-container .content .buttons .btn {
    width: 100%;
    height: 60px;
    font-size: 2rem;
  }
}
