

h1{
      margin:3%;
      display:flex;
      font-family: @main-font;
      font-style: normal;
      font-weight: normal;
      font-size: 3rem;
      line-height: 48px;
      display: flex;
      align-items: center;
      
}

h2{
      font-family: @main-font;
      font-style: normal;
      font-weight: normal;
      font-size: 2rem;
      text-align: center;
   
}

h3{
      font-family: @main-font;
      font-style: normal;
      font-weight: normal;
      font-size: 1.3rem;
}