// Global styling here

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 1080px;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
    font-size: 3rem;
}

.container {
  // max-width: 1080px;
  // margin: 0 auto;
}

p {
  font-size: 2.2rem;
}