// Regular CSS

#slider {
    overflow: hidden;
   
 }
 
 #slider figure {
    position: relative;
    width: 900%;
    margin: 0;
    left:0;
    top:0;
    animation: 25s slider infinite;
 }
 
 #slider figure img {
   
       width: 11.11%;
       float:left;

    }
 @keyframes slider {
    0% {
       left: 0;
    }
    8%{
       left:0;
    }
    13%{
       left:-100%;
    }
    21%{
    left:-100%;
    }
    26%{
       left:-200%;
    }
    34%{
       left:-200%;
    }
    39% {
       left: -300%;
    }
    47%{
       left:-300%;
    }
    52%{
       left:-400%;
    }
    60%{
    left:-400%;
    }
    65%{
       left:-500%;
    }
    73%{
       left:-500%;
    }
    78%{
       left:-600%;
    }
    86%{
       left:-600%;
    }
    91%{
       left:-700%;
    }
    96%{
       left:-700%;
    }
    100%{
       left:-800%;
    }
 
 }
 
 .welcome {
     margin:2%;
 }
 
 .purpose {
     display:flex;
     padding-right: 2%;
     padding-left: 2%;
     width:100%;
     justify-content: space-between;
 
     .first{
        padding: 1%;
        width:80%;
        border: 1px solid @main-color;
        border-radius: 8px;
        margin: 3%;
       }
 
     .second {
       padding: 1%;
       width:80%;
       border: 1px solid @main-color;
       border-radius: 8px;
       margin: 3%;
       }
    }
 
    // hr {
    //    border: 1px solid @main-color;
    // }
 
  .testimonials {
     padding: 3%;
     width:100%;
     text-align: center;
 
     .ts {
        display:flex;
        width:100%;
        
        .testimonials1 {
          width: 100%;
          padding: 3%;
          justify-content: space-between ;
         }
       }
    }
  
  .buttons {
    
    display: flex;
    justify-content: space-around;

   a{
       width:20%;
   
  
  button {
    margin:3%;
    background: #0085D4;
    border-radius: 15px;
    border:none;
    color:@accent-color;
    font-family: @main-font;
    width: 100%;
    height:3rem;
    font-size:2rem;
  }
 }
}

 .midimg{
     width:100%;
 }

//  Responsive CSS

@media(max-width: 500px) {
    .purpose {
      width: 100%;
      display:flex;
      flex-direction:column;
      align-items: center;
      margin:0 auto;
    }


    .buttons {
    
        // display: flex;
        // justify-content: space-around;
    
       a{
           width:40%;
       
      
      button {
        // margin:3%;
        // background: #0085D4;
        // border-radius: 15px;
        // border:none;
        // color:@accent-color;
        // font-family: @main-font;
        // width: 100%;
        // height:3rem;
        font-size:1rem;
      }
     }
    }


    .ts{
        display: flex;
        flex-direction: column;
    }
}