// regular CSS
.mentioned{ 
    margin:5%;
    background-image: url('/../../../pix/Rectangle-25.png');
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
    display:flex;

    .asmentioned{
        margin: 5%;
        text-align: left;

    }
}
.missionheader{
  width:100%;
  img {
      width: 100%;
      height:auto;
  }
}

.partners {
   width:100%;
   display:flex;
    
    .partners1 {
        width: 25%;
        border: 1px solid @main-color;
        margin:auto;
        border-radius: 25px;
        text-align: center;
        p{
            width: 60%;
            margin: auto;
        }
        .partnerpic {
            width:40%;
            height:auto;
            border-radius: 50%;
            margin:4%;
        }
    }
}