nav {
    color: @accent-color;
    background: @nav-color;
    width:100%;
    display:flex;
    justify-content:space-between;
    position: relative;
   
    
    .name {
       width: 30%;
        font-family: @accent-font;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        margin-left:1%;
       
       
    }
    .links { 
       width: 90%;
       display: flex;
       justify-content: flex-end;
        a {
        margin:3%;
        font-family: @main-font;
        font-size: 1.5rem;
        line-height: 31px;
        text-decoration: none;
        color: @accent-color;
        
       }
    }
 }