// Navigation Styles here

nav {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px 0;
    background-color: @navigation-bg;

    .container {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-logo {
            
            h2 {
                color: @navigation-font-color;
                font-weight: bold;
            }
        }
    }

    .nav-links {
        width: 60%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 0px;
        font-size: 1.6rem;

        a {
            text-decoration: none;

            &:visited {
                color:white;
            }

            &:hover {
                color:@lightblue;
                text-decoration: underline;
            }
        }
    }
}