// Variables in here

// Color assignments 
@font-color: black;
@button-bg: @blue;
@main-bg:  white;
@navigation-bg: @darkblue;
@navigation-font-color: white;
@footer-bg: @blue;
@bg-bar: @lightblue;

// Colors
@black: #202B30;
@red: #EC5252;
@blue: #0085D4;
@darkblue: #005C9E;
@lightblue: #C0E3F4;

// Media Query Break Points
@phone: ~'(max-width: 500px)';
@tablet: ~'(max-width: 768px)';
@SD-screen: ~'(max-width: 1080px)';